.smartufs {
    display: block;
    width: 152px;
    height: 57px;
    background-image: url(../assets/smartufs.png);
    position: absolute; top: 170px; left: 30px;
}

.dau {
    display: block;
    width: 181px;
    height: 72px;
    background-image: url(../assets/dau.png);
    position: absolute; top: 240px; left: 20px;
}

.dcomp {
    display: block;
    width: 152px;
    height: 75px;
    background-image: url(../assets/dcomp.png);
    position: absolute; top: 320px; left: 30px;

}

.theme_text {
    position: absolute;
    width: 600px;
    height: 16px;
    right: 470px;
    top: 120px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
   
    
    text-align: center;
    letter-spacing: 0.25px;
    
    color: #000000;
}

.dep_ref {
    display: flex;
    width: 110px;
    height: 109px;
    background-image: url(../assets/dcomp_ref.png);
    background-repeat: no-repeat;
    position: absolute; top: -100px; left: 80px;
}

.enquete {
    position: absolute;
    width: 600px;
    height: 16px;
    left: 460px;
    top: 230px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 16px;

    text-align: center;
    letter-spacing: 0.25px;

    color: #000000;
}

.purpose {
    position: absolute;
    width: 250px;
    height: 16px;
    left: 260px;
    top: 350px;


    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;


    text-align: center;
    letter-spacing: 0.4px;

    color: #000000;
}

.descricao {
    position: absolute;
    width: 800px;
    height: 16px;
    left: 534px;
    top: 300px;


    font-family: 'Montserrat', sans-serif;
    font-style: initial;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
    

    letter-spacing: 0.4px;

    color: #000000;

}

.alert_how_to {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 390px;
    top: 298px;
    
    background-image: url(../assets/alert_how_to.png);

}

.likert_reactions {
    display: block;
    position: absolute;
    width: 517px;
    height: 45px;
    left: 461px;
    top: 400px;
    background-image: url(../assets/likert_reactions.svg);
}


.como_votar {
    position: absolute;
    width: 657px;
    height: 50px;
    left: 410px;
    top: 300px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    

    letter-spacing: 0.4px;

    color: #000000;
    
}



.escrever_comentario {
    background-color: #004694;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-weight: 700;
    position: absolute;
    width: 226px;
    height: 36px;
    left: 377px;
    top: 570px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
}

.sem_comentario {
    background-color: #004694;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-weight: 700;
    position: absolute;
    width: 226px;
    height: 36px;
    left: 837px;
    top: 550px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
}
div.escrever_comentario, .sem_comentario {
    margin-bottom: 100px;
}

.text-center {
    top: -30px;
    width: 700px;
    height: 160px;
    left: 335px;
    font-size: 16px;
    
}

.theme_by {
    
    top: 100px;;
    width: 110px;
    height: 145px;
    left: 1150px;
    font-size: 12px;
}